// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Helvetica;
}

p {
  font-size: 20;
}

.card {
  border-style: solid;
  border-radius: 5px;
}
